<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-AuctionBayWebApi-20130927112741;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-AuctionBayWebApi-20130927112741.mdf" />-->
    <add name="AuctionBay" connectionString="Server=9df7d944-934c-42e1-9078-a267010491c7.sqlserver.sequelizer.com;Database=db9df7d944934c42e19078a267010491c7;User ID=ufwipocblybggeah;Password=Qtn5V2vEMRawHjr3j7wqpV3Wx86r5GxD5qbXYN44YwQ3JQBrQkgrVSd3yyFW5eJe;MultipleActiveResultSets" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>